<div class="container">
  <div class="content">
    <app-title title="Resumen de Pedido" fontSize="1.6rem"></app-title>
    <div class="summary">
      <div>
        <h3>Nombre:</h3>
        <span>{{pedido.nombre}}</span>
      </div>
      <div>
        <h3>Address:</h3>
        <span>{{pedido.direccion}}</span>
      </div>
    </div>
    <order-items-list [pedido]="pedido"></order-items-list>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="confirmarOrden()">
        Confirmar Orden
      </button>
    </div>
  </div>
</div>
